{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - Home {% endblock %}
{% block content %}
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    <p class="{{ message.tags }}">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to 'Fiszki'!</h1>
    <p class="lead">This is a simple site that helps you learn.</p>
    <hr class="my-4">
    {% if user.is_authenticated %}
    <p>Start learning:</p>
    <a class="btn btn-dark btn-lg" href="{% url 'deck_list' %}" role="button">Start!</a>
    {% else %}
    <p>Start learning by logging in!</p>
    <a class="btn btn-outline-dark btn-lg" href="{% url 'login' %}" role="button">Login</a>
    <a class="btn btn-dark btn-lg" href="{% url 'signup' %}" role="button">Sign up</a> 
    {% endif %}
</div>
{% endblock %}