<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Fiszki {% block title %}{% endblock %}</title>

         <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/sticky-footer-navbar.css" rel="stylesheet">
    </head>
    <body>
      <header>
      <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="{% url 'about' %}">Fiszki</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'deck_list' %}">Your decks</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'deck_new' %}">Create new deck</a></li>
                  {% else %}

                  {% endif %}
                  <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#"></a></li>
                </ul>
                  
                <ul class="nav justify-content-end">
                  {% if user.is_authenticated %}
                  <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'login' %}">Login</a></li>
                  <li class="nav-item"></li> 
                  <li class="nav-item"><a class="btn btn-outline-light" href="{% url 'signup' %}">Sign up</a></li>
                  {% endif %}
                </ul>
              </div>
        </nav>
      </header>        
      <!-- Begin page content -->
      <main role="main" class="container">
        {% block content %}
        {% endblock %}
      </main>
              
<!--      <footer class="footer">
        <div class="container">
          <span class="text-muted">
            <ul class="nav justify-content-center">
              <li class="nav-item"><a href="#" class="nav-link"></a></li>
              <li class="nav-item"><a href="#" class="nav-link"></a></li>
            </ul>
          </span>
        </div>
      </footer>
-->              
      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/static/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/static/jquery-slim.min.js"><\/script>')</script>
      <script src="/static/popper.min.js"></script>
      <script src="/static/bootstrap.min.js"></script>
    </body>
</html>