{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} - {{ object.name }} {% endblock %}
{% block content %}

<div class="article-entry">
  <h2>{{ object.name }}</h2>
  <p>{{ object.front }}</p>
  <p>{{ object.back }}</p>
</div>
  <p><a href="{% url 'card_new' deck.pk %}">Add new card</a> | <a href="{% url 'deck_delete' deck.pk %}">Delete</a></p>
  <p>Back to <a href="{% url 'deck_list' %}">your decks</a>.</p>


<div class="card-footer">
  {% for card in deck.cards.all %}
  <p>
    <span class="font-weight-bold">{{ card.name }}</span>
    {{ card.front }}
    {{ card.back }}
  </p>
  {% endfor %}
</div>
<br />
{% endblock %}