{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<br />
  {% if deck %}
    <h1>{{ deck.name }}</h1>
    <p>{{ deck.description }}</p>
    {% if cards %}
      {{ cards.count }}
      {% for card in cards %}
      <div class="card" style="max-width: 18rem;">
      <div class="card-header">{{ card.name }}</div>
      <div class="card-body">
      <h5 class="card-title">{{ card.front }}</h5>
        <p>
        <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Show answer
        </button>
        </p>
        <div class="collapse" id="collapseExample">
        <div class="card card-body">{{ card.back }}
      </div>
      </div>
      </div>
      <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
              {% if cards.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1"><span class="text-secondary">&laquo; first</span></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ cards.previous_page_number }}"><span class="text-secondary">previous</span></a></li>
              {% endif %}
              {% if cards.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ cards.next_page_number }}"><span class="text-secondary">next</span></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ cards.paginator.num_pages }}"><span class="text-secondary">last &raquo;</span></a></li>
              {% endif %}
          </ul>
      </nav>
      {% endfor %}
    {% else %}
      <strong>No cards currently in deck.</strong>
    {% endif %}
  {% else %}
    The specified deck does not exist!
  {% endif %}
{% endblock %}